.header{
    background-color: crimson;
    padding: 16px;
    border: 1px solid black;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 10vh;
    background-color: rgb(172, 211, 243);
}

.Nav-links{
    width: 50%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none;
}